# Aprendizado de Máquina Aplicada à Análise de Dados do COVID-19

- Professor: Filipe Verri
- Aluno: Paulo Giovani de Faria Zeferino

Este terceiro notebook contém os passos iniciais do pré-processamento de dados utilizado para o desenvolvimento do artigo **Aprendizado de Máquina Aplicada à Análise de Dados do COVID-19**, solicitado pelo professor Filipe Verri para a disciplina PO-233/2020 Aprendizado de Máquina, oferecida pelo curso de pós-graduação do ITA.

# 1. Importação das bibliotecas

In [3]:
# Importa as bibliotecas
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Configura os parâmetros do Matplotlib
%matplotlib inline

plt.rcParams.update({'font.size': 20, 
                     'figure.figsize': (10, 8),
                     'figure.dpi': 90,
                     'savefig.dpi': 300,
                     'axes.grid': True,
                     'axes.axisbelow': True, 
                     'grid.color': 'k', 
                     'grid.linestyle': ':', 
                     'grid.linewidth': 0.5,
                     'grid.alpha': 0.5})

# 2. Importação do arquivo de dados

In [5]:
# Importa o arquivo de dados
covid_df = pd.read_csv('data/artigo/covid19.csv')

In [ ]:
# Habilita/Desabilita a opção para exibir todas as linhas
#pd.set_option('display.max_rows', None)

In [ ]:
# Ajusta a quantidade de casas decimais
#pd.set_option('display.float_format', lambda x: '%.4f' % x)
#pd.set_option('display.precision', 3)

# Volta para a formatação padrão
#pd.reset_option('display.float_format')

In [6]:
# Exibe o cabeçalho do arquivo
covid_df.head()

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
0,AFG,Afghanistan,NaN,33.0000,65.0000,18734.0,38928346.0,25.0,652860.0,60.0,...,18.0,NaN,37.62,0.5,6.216667,56.933333,2/23/2020,1/22/20,0,0
1,ALB,Albania,NaN,41.1533,20.1683,15418.0,2877797.0,63.0,27400.0,105.0,...,36.0,29.4,11.67,2.9,13.950000,69.900000,3/7/2020,1/22/20,0,0
2,DZA,Algeria,NaN,28.0339,1.6596,172781.0,43851044.0,73.0,2381740.0,18.0,...,29.0,NaN,8.77,1.9,19.566667,61.716667,2/24/2020,1/22/20,0,0
3,AND,Andorra,NaN,42.5063,1.5218,91527.0,77265.0,88.0,470.0,164.0,...,NaN,32.5,NaN,2.5,7.383333,75.233333,3/1/2020,1/22/20,0,0
4,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0

In [7]:
# Descreve os tipos de dados de cada atributo
covid_df.dtypes

Código do País                                 object
País/Região                                    object
Província/Estado                               object
Latitude                                      float64
Longitude                                     float64
PIB 2019                                      float64
População                                     float64
População Urbana                              float64
Área (Km/2)                                   float64
Densidade (Km/2)                              float64
Taxa de Fertilidade                           float64
Média de Idade                                float64
Taxa de Fumantes                              float64
Taxa de Mortalidade por Doenças Pulmonares    float64
Total de Leitos Hospitalares                  float64
Temperatura Média (Janeiro - Março)           float64
Taxa de Umidade (Janeiro - Março)             float64
Data do Primeiro Caso                          object
Data                                           object
Casos Confirmados                               int64
Fatalidades                                     int64
dtype: object

In [8]:
# Exibe a estatística descritiva do DataFrame, incluindo as colunas categóricas
covid_df.describe(include='all')

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
count,20995,22270,6800,22270.000000,22270.000000,2.099500e+04,2.125000e+04,20825.000000,2.125000e+04,21250.000000,...,20740.000000,16915.000000,20315.000000,20995.000000,18615.000000,18615.000000,20995,22270,22270.000000,22270.000000
unique,169,185,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48,85,NaN,NaN
top,CHN,China,Tianjin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1/10/2020,3/14/20,NaN,NaN
freq,2805,2805,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2805,262,NaN,NaN
mean,NaN,NaN,NaN,21.480054,22.337539,2.543497e+06,2.225719e+08,64.702041,2.386026e+06,305.028000,...,33.500000,21.898492,28.760962,3.407790,15.581126,65.073592,NaN,NaN,1481.740144,79.564122
std,NaN,NaN,NaN,24.712085,70.779624,4.827528e+06,4.839084e+08,20.319098,3.762297e+06,1749.463317,...,8.564572,7.623802,18.779781,2.257748,10.830042,16.848413,NaN,NaN,14556.717948,890.463746
min,NaN,NaN,NaN,-51.796300,-135.000000,5.930000e+02,8.010000e+02,13.000000,0.000000e+00,2.000000,...,15.000000,3.700000,6.290000,0.100000,-9.883333,10.983333,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,7.540000,-23.041800,2.391800e+04,5.106626e+06,55.000000,5.439000e+04,32.000000,...,27.750000,15.000000,17.810000,1.600000,8.983333,52.083333,NaN,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,23.659750,20.921188,2.469530e+05,2.115826e+07,64.000000,3.050600e+05,109.500000,...,38.000000,23.450000,22.340000,2.900000,11.266667,71.400000,NaN,NaN,2.000000,0.000000
75%,NaN,NaN,NaN,41.204400,81.000000,1.730914e+06,6.527351e+07,82.000000,1.943950e+06,153.000000,...,40.250000,25.550000,32.010000,4.200000,25.783333,77.000000,NaN,NaN,113.000000,1.000000
max,NaN,NaN,NaN,71.706900,178.065000,2.143945e+07,1.439324e+09,98.000000,1.637687e+07,26337.000000,...,48.000000,42.650000,114.280000,13.800000,40.150000,92.316667,NaN,NaN,636350.000000,28326.000000

In [9]:
# Exibe o número de observações distintas para cada coluna do DataFrame
covid_df.nunique()

Código do País                                 169
País/Região                                    185
Província/Estado                                80
Latitude                                       254
Longitude                                      257
PIB 2019                                       170
População                                      173
População Urbana                                74
Área (Km/2)                                    173
Densidade (Km/2)                               126
Taxa de Fertilidade                             47
Média de Idade                                  34
Taxa de Fumantes                               112
Taxa de Mortalidade por Doenças Pulmonares     160
Total de Leitos Hospitalares                    68
Temperatura Média (Janeiro - Março)            135
Taxa de Umidade (Janeiro - Março)              136
Data do Primeiro Caso                           48
Data                                            85
Casos Confirmados                             2335
Fatalidades                                    652
dtype: int64

# 3. Pré-processamento dos Dados

In [10]:
# Cria uma cópia do dataframe
df = covid_df.copy(deep=True)

In [11]:
# Exibe o cabeçalho
df.head()

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
0,AFG,Afghanistan,NaN,33.0000,65.0000,18734.0,38928346.0,25.0,652860.0,60.0,...,18.0,NaN,37.62,0.5,6.216667,56.933333,2/23/2020,1/22/20,0,0
1,ALB,Albania,NaN,41.1533,20.1683,15418.0,2877797.0,63.0,27400.0,105.0,...,36.0,29.4,11.67,2.9,13.950000,69.900000,3/7/2020,1/22/20,0,0
2,DZA,Algeria,NaN,28.0339,1.6596,172781.0,43851044.0,73.0,2381740.0,18.0,...,29.0,NaN,8.77,1.9,19.566667,61.716667,2/24/2020,1/22/20,0,0
3,AND,Andorra,NaN,42.5063,1.5218,91527.0,77265.0,88.0,470.0,164.0,...,NaN,32.5,NaN,2.5,7.383333,75.233333,3/1/2020,1/22/20,0,0
4,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0

In [12]:
# Exibe o total de valores ausentes de cada coluna
df.isnull().sum()#.sort_values(ascending = False)

Código do País                                 1275
País/Região                                       0
Província/Estado                              15470
Latitude                                          0
Longitude                                         0
PIB 2019                                       1275
População                                      1020
População Urbana                               1445
Área (Km/2)                                    1020
Densidade (Km/2)                               1020
Taxa de Fertilidade                            1530
Média de Idade                                 1530
Taxa de Fumantes                               5355
Taxa de Mortalidade por Doenças Pulmonares     1955
Total de Leitos Hospitalares                   1275
Temperatura Média (Janeiro - Março)            3655
Taxa de Umidade (Janeiro - Março)              3655
Data do Primeiro Caso                          1275
Data                                              0
Casos Confirmados                                 0
Fatalidades                                       0
dtype: int64

In [13]:
# Número distintos de países, de acordo com código
df['Código do País'].nunique()

169

In [14]:
# Exibe somente as linhas onde o Código do Pais é nulo
df[pd.isnull(covid_df['Código do País'])]

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
4,NaN,Angola,NaN,-11.202700,17.873900,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
88,NaN,Diamond Princess,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
179,NaN,Papua New Guinea,NaN,-6.315000,143.955500,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
239,NaN,West Bank and Gaza,NaN,31.952200,35.233200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
245,NaN,Kosovo,NaN,42.602636,20.902977,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22263,NaN,Malawi,NaN,-13.254308,34.301525,NaN,19129952.0,18.0,94280.0,203.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,16,2
22266,NaN,South Sudan,NaN,6.877000,31.307000,NaN,11193725.0,25.0,610952.0,18.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22267,NaN,Western Sahara,NaN,24.215500,-12.885800,NaN,597339.0,87.0,266000.0,2.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,6,0
22268,NaN,Sao Tome and Principe,NaN,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22269,NaN,Yemen,NaN,15.552727,48.516388,NaN,29825964.0,38.0,527970.0,56.0,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,1,0

## 3.1 - Remove as linhas com os dados dos navios de cruzeiro

In [15]:
# Lista com o nome dos navios de cruzeiro em quarentena
navios = ['Diamond Princess', 'MS Zaandam', 'MS Westerdam', 'World Dream', 'Costa Serena', 'Costa Victoria', 'Norwegian Jewel', 
          'Grand Princess', 'A Sara', 'Costa Magica', 'Braemar', 'Costa Luminosa', 'Silver Explorer', 'Silver Shadow', 
          'Ruby Princess', 'Ovation of the Seas', 'Voyager of the Seas', 'Artania', 'Costa Favolosa', 'Horizon', 
          'Oasis of the Seas', 'Liberty of the Seas', 'Coral Princess', 'Celebrity Solstice', 'Disney Wonder', 'Greg Mortimer',
          'Pride of America', 'Celebrity Flora', 'MS Rotterdam', 'River Anuket']

# Habilita/Desabilita a opção par exibir todas as linhas
pd.set_option('display.max_rows', False)

# Exibe as linhas onde o 'País/Região' seja algum navio de cruzeiro
df[df['País/Região'].isin(navios)]

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
88,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
250,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
350,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/23/20,0,0
512,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/23/20,0,0
612,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/24/20,0,0
774,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/24/20,0,0
874,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/25/20,0,0
1036,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/25/20,0,0
1136,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/26/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21210,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/11/20,9,2
21310,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/12/20,712,11
21472,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/12/20,9,2
21572,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/13/20,712,11
21734,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/13/20,9,2
21834,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/14/20,712,12
21996,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/14/20,9,2
22096,NaN,Diamond Princess,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,712,12
22258,NaN,MS Zaandam,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,9,2

In [16]:
# Linhas onde o 'País/Região' seja algum navio de cruzeiro
linhas = df[df['País/Região'].isin(navios)]

# Remove as linhas com os dados somente dos navios de cruzeiro em quarentena
df = df.drop(linhas.index)

In [17]:
# Exibe o dataframe
df

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
0,AFG,Afghanistan,NaN,33.000000,65.000000,18734.0,38928346.0,25.0,652860.0,60.0,...,18.0,NaN,37.62,0.5,6.216667,56.933333,2/23/2020,1/22/20,0,0
1,ALB,Albania,NaN,41.153300,20.168300,15418.0,2877797.0,63.0,27400.0,105.0,...,36.0,29.40,11.67,2.9,13.950000,69.900000,3/7/2020,1/22/20,0,0
2,DZA,Algeria,NaN,28.033900,1.659600,172781.0,43851044.0,73.0,2381740.0,18.0,...,29.0,NaN,8.77,1.9,19.566667,61.716667,2/24/2020,1/22/20,0,0
3,AND,Andorra,NaN,42.506300,1.521800,91527.0,77265.0,88.0,470.0,164.0,...,NaN,32.50,NaN,2.5,7.383333,75.233333,3/1/2020,1/22/20,0,0
4,NaN,Angola,NaN,-11.202700,17.873900,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
5,ATG,Antigua and Barbuda,NaN,17.060800,-61.796400,1688.0,97929.0,26.0,440.0,223.0,...,34.0,NaN,11.76,3.8,NaN,NaN,3/12/2020,1/22/20,0,0
6,ARG,Argentina,NaN,-38.416100,-63.616700,445469.0,45195774.0,93.0,2736690.0,17.0,...,32.0,23.95,29.27,5.0,32.816667,43.616667,3/2/2020,1/22/20,0,0
7,ARM,Armenia,NaN,40.069100,45.038200,13444.0,2963243.0,63.0,28470.0,104.0,...,35.0,26.90,23.86,4.2,7.100000,58.500000,2/29/2020,1/22/20,0,0
8,AUS,Australia,Australian Capital Territory,-35.473500,149.012400,1376255.0,25499884.0,86.0,7682300.0,3.0,...,38.0,14.90,18.79,3.8,25.783333,64.233333,1/24/2020,1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22261,NaN,Sierra Leone,NaN,8.460555,-11.779889,NaN,7976983.0,43.0,72180.0,111.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,13,0
22262,NLD,Netherlands,"Bonaire, Sint Eustatius and Saba",12.178400,-68.238500,902355.0,17134872.0,92.0,33720.0,508.0,...,43.0,25.05,26.00,4.7,8.983333,78.133333,2/26/2020,4/15/20,3,0
22263,NaN,Malawi,NaN,-13.254308,34.301525,NaN,19129952.0,18.0,94280.0,203.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,16,2
22264,GBR,United Kingdom,Falkland Islands (Malvinas),-51.796300,-59.523600,2743586.0,67886011.0,83.0,241930.0,281.0,...,40.0,19.15,23.66,2.8,6.433333,74.583333,1/30/2020,4/15/20,11,0
22265,FRA,France,Saint Pierre and Miquelon,46.885200,-56.315900,2707074.0,65273511.0,82.0,547557.0,119.0,...,42.0,27.70,13.15,6.5,11.266667,72.950000,1/23/2020,4/15/20,1,0
22266,NaN,South Sudan,NaN,6.877000,31.307000,NaN,11193725.0,25.0,610952.0,18.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22267,NaN,Western Sahara,NaN,24.215500,-12.885800,NaN,597339.0,87.0,266000.0,2.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,6,0
22268,NaN,Sao Tome and Principe,NaN,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22269,NaN,Yemen,NaN,15.552727,48.516388,NaN,29825964.0,38.0,527970.0,56.0,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,1,0

## 3.2 - Atualiza o Código do País -> NaN

Foram utilizadas as informações disponíveis nos seguintes sites:

- https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
- https://www.iban.com/country-codes
- https://laendercode.net/en/3-letter-list.html

In [20]:
# Exibe somente as linhas onde o Código do Pais é nulo
df[pd.isnull(df['Código do País'])]

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
4,NaN,Angola,NaN,-11.202700,17.873900,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
179,NaN,Papua New Guinea,NaN,-6.315000,143.955500,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
239,NaN,West Bank and Gaza,NaN,31.952200,35.233200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
245,NaN,Kosovo,NaN,42.602636,20.902977,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
246,NaN,Burma,NaN,21.916200,95.956000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
251,NaN,Botswana,NaN,-22.328500,24.684900,NaN,2351627.0,73.0,566730.0,4.0,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
252,NaN,Burundi,NaN,-3.373100,29.918900,NaN,11890784.0,14.0,25680.0,463.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
253,NaN,Sierra Leone,NaN,8.460555,-11.779889,NaN,7976983.0,43.0,72180.0,111.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
255,NaN,Malawi,NaN,-13.254308,34.301525,NaN,19129952.0,18.0,94280.0,203.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22254,NaN,Burma,NaN,21.916200,95.956000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,74,4
22259,NaN,Botswana,NaN,-22.328500,24.684900,NaN,2351627.0,73.0,566730.0,4.0,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,13,1
22260,NaN,Burundi,NaN,-3.373100,29.918900,NaN,11890784.0,14.0,25680.0,463.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,5,1
22261,NaN,Sierra Leone,NaN,8.460555,-11.779889,NaN,7976983.0,43.0,72180.0,111.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,13,0
22263,NaN,Malawi,NaN,-13.254308,34.301525,NaN,19129952.0,18.0,94280.0,203.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,16,2
22266,NaN,South Sudan,NaN,6.877000,31.307000,NaN,11193725.0,25.0,610952.0,18.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22267,NaN,Western Sahara,NaN,24.215500,-12.885800,NaN,597339.0,87.0,266000.0,2.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,6,0
22268,NaN,Sao Tome and Principe,NaN,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22269,NaN,Yemen,NaN,15.552727,48.516388,NaN,29825964.0,38.0,527970.0,56.0,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,1,0

In [21]:
# Exibe somente as linhas para um país específico
pais = 'Angola'

df[df['País/Região'] == pais]

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
4,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
266,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/23/20,0,0
528,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/24/20,0,0
790,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/25/20,0,0
1052,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/26/20,0,0
1314,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/27/20,0,0
1576,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/28/20,0,0
1838,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/29/20,0,0
2100,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/30/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19916,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/7/20,17,2
20178,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/8/20,19,2
20440,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/9/20,19,2
20702,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/10/20,19,2
20964,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/11/20,19,2
21226,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/12/20,19,2
21488,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/13/20,19,2
21750,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/14/20,19,2
22012,NaN,Angola,NaN,-11.2027,17.8739,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,19,2

In [22]:
# País desejado e novo ID para o lugar de NaN
pais = 'Angola'
sigla = 'AGO'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [23]:
# Exibe somente as linhas para um país específico
pais = 'Papua New Guinea'

df[df['País/Região'] == pais]

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
179,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
441,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/23/20,0,0
703,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/24/20,0,0
965,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/25/20,0,0
1227,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/26/20,0,0
1489,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/27/20,0,0
1751,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/28/20,0,0
2013,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/29/20,0,0
2275,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1/30/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20091,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/7/20,2,0
20353,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/8/20,2,0
20615,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/9/20,2,0
20877,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/10/20,2,0
21139,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/11/20,2,0
21401,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/12/20,2,0
21663,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/13/20,2,0
21925,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/14/20,2,0
22187,NaN,Papua New Guinea,NaN,-6.315,143.9555,NaN,8947024.0,13.0,452860.0,20.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,2,0

In [24]:
# País desejado e novo ID para o lugar de NaN
pais = 'Papua New Guinea'
sigla = 'PNG'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [25]:
# País desejado e novo ID para o lugar de NaN
pais = 'West Bank and Gaza'
sigla = 'PSE'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [26]:
# País desejado e novo ID para o lugar de NaN
pais = 'Kosovo'
sigla = 'XKX'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [27]:
# País desejado e novo ID para o lugar de NaN
pais = 'Burma'
sigla = 'MMR'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [28]:
# País desejado e novo ID para o lugar de NaN
pais = 'Botswana'
sigla = 'BWA'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [29]:
# País desejado e novo ID para o lugar de NaN
pais = 'Burundi'
sigla = 'BDI'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [30]:
# País desejado e novo ID para o lugar de NaN
pais = 'Sierra Leone'
sigla = 'SLE'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [31]:
# País desejado e novo ID para o lugar de NaN
pais = 'Malawi'
sigla = 'MWI'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [32]:
# País desejado e novo ID para o lugar de NaN
pais = 'South Sudan'
sigla = 'SSD'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [35]:
# País desejado e novo ID para o lugar de NaN
pais = 'Western Sahara'
sigla = 'ESH'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [34]:
# País desejado e novo ID para o lugar de NaN
pais = 'Sao Tome and Principe'
sigla = 'STP'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [36]:
# País desejado e novo ID para o lugar de NaN
pais = 'Yemen'
sigla = 'YEM'

# Atualiza o ID dessas linhas
df.loc[((df['País/Região'] == pais) & (df['Código do País'].isnull()), 'Código do País')] = sigla

In [37]:
# Exibe somente as linhas onde o Código do Pais é nulo
df[pd.isnull(df['Código do País'])]

Empty DataFrame
Columns: [Código do País, País/Região, Província/Estado, Latitude, Longitude, PIB 2019, População, População Urbana, Área (Km/2), Densidade (Km/2), Taxa de Fertilidade, Média de Idade, Taxa de Fumantes, Taxa de Mortalidade por Doenças Pulmonares, Total de Leitos Hospitalares, Temperatura Média (Janeiro - Março), Taxa de Umidade (Janeiro - Março), Data do Primeiro Caso, Data, Casos Confirmados, Fatalidades]
Index: []

[0 rows x 21 columns]

## 3.3 - Atualiza o PIB 2019 -> NaN

Foram utilizadas as informações disponíveis nos seguintes sites:

- https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
- https://pt.countryeconomy.com/paises

In [38]:
# Cria uma cópia do dataframe atual
df2 = df.copy(deep=True)

In [39]:
# Exibe o dataframe
df2

,Código do País,País/Região,Província/Estado,Latitude,Longitude,PIB 2019,População,População Urbana,Área (Km/2),Densidade (Km/2),...,Média de Idade,Taxa de Fumantes,Taxa de Mortalidade por Doenças Pulmonares,Total de Leitos Hospitalares,Temperatura Média (Janeiro - Março),Taxa de Umidade (Janeiro - Março),Data do Primeiro Caso,Data,Casos Confirmados,Fatalidades
0,AFG,Afghanistan,NaN,33.000000,65.000000,18734.0,38928346.0,25.0,652860.0,60.0,...,18.0,NaN,37.62,0.5,6.216667,56.933333,2/23/2020,1/22/20,0,0
1,ALB,Albania,NaN,41.153300,20.168300,15418.0,2877797.0,63.0,27400.0,105.0,...,36.0,29.40,11.67,2.9,13.950000,69.900000,3/7/2020,1/22/20,0,0
2,DZA,Algeria,NaN,28.033900,1.659600,172781.0,43851044.0,73.0,2381740.0,18.0,...,29.0,NaN,8.77,1.9,19.566667,61.716667,2/24/2020,1/22/20,0,0
3,AND,Andorra,NaN,42.506300,1.521800,91527.0,77265.0,88.0,470.0,164.0,...,NaN,32.50,NaN,2.5,7.383333,75.233333,3/1/2020,1/22/20,0,0
4,AGO,Angola,NaN,-11.202700,17.873900,NaN,32866272.0,67.0,1246700.0,26.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1/22/20,0,0
5,ATG,Antigua and Barbuda,NaN,17.060800,-61.796400,1688.0,97929.0,26.0,440.0,223.0,...,34.0,NaN,11.76,3.8,NaN,NaN,3/12/2020,1/22/20,0,0
6,ARG,Argentina,NaN,-38.416100,-63.616700,445469.0,45195774.0,93.0,2736690.0,17.0,...,32.0,23.95,29.27,5.0,32.816667,43.616667,3/2/2020,1/22/20,0,0
7,ARM,Armenia,NaN,40.069100,45.038200,13444.0,2963243.0,63.0,28470.0,104.0,...,35.0,26.90,23.86,4.2,7.100000,58.500000,2/29/2020,1/22/20,0,0
8,AUS,Australia,Australian Capital Territory,-35.473500,149.012400,1376255.0,25499884.0,86.0,7682300.0,3.0,...,38.0,14.90,18.79,3.8,25.783333,64.233333,1/24/2020,1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22261,SLE,Sierra Leone,NaN,8.460555,-11.779889,NaN,7976983.0,43.0,72180.0,111.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,13,0
22262,NLD,Netherlands,"Bonaire, Sint Eustatius and Saba",12.178400,-68.238500,902355.0,17134872.0,92.0,33720.0,508.0,...,43.0,25.05,26.00,4.7,8.983333,78.133333,2/26/2020,4/15/20,3,0
22263,MWI,Malawi,NaN,-13.254308,34.301525,NaN,19129952.0,18.0,94280.0,203.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,16,2
22264,GBR,United Kingdom,Falkland Islands (Malvinas),-51.796300,-59.523600,2743586.0,67886011.0,83.0,241930.0,281.0,...,40.0,19.15,23.66,2.8,6.433333,74.583333,1/30/2020,4/15/20,11,0
22265,FRA,France,Saint Pierre and Miquelon,46.885200,-56.315900,2707074.0,65273511.0,82.0,547557.0,119.0,...,42.0,27.70,13.15,6.5,11.266667,72.950000,1/23/2020,4/15/20,1,0
22266,SSD,South Sudan,NaN,6.877000,31.307000,NaN,11193725.0,25.0,610952.0,18.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22267,ESH,Western Sahara,NaN,24.215500,-12.885800,NaN,597339.0,87.0,266000.0,2.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,6,0
22268,STP,Sao Tome and Principe,NaN,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,4,0
22269,YEM,Yemen,NaN,15.552727,48.516388,NaN,29825964.0,38.0,527970.0,56.0,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,4/15/20,1,0

In [40]:
# Habilita a exibição de todas as colunas
pd.set_option('display.max_columns', False)

In [41]:
# Exibe somente as linhas onde o PIB 2019 é nulo
df2[pd.isnull(df2['PIB 2019'])]

      Código do País            País/Região  ... Casos Confirmados  Fatalidades
4                AGO                 Angola  ...                 0            0
179              PNG       Papua New Guinea  ...                 0            0
239              PSE     West Bank and Gaza  ...                 0            0
245              XKX                 Kosovo  ...                 0            0
246              MMR                  Burma  ...                 0            0
251              BWA               Botswana  ...                 0            0
252              BDI                Burundi  ...                 0            0
253              SLE           Sierra Leone  ...                 0            0
255              MWI                 Malawi  ...                 0            0
...              ...                    ...  ...               ...          ...
22254            MMR                  Burma  ...                74            4
22259            BWA               Botswana  ...                13            1
22260            BDI                Burundi  ...                 5            1
22261            SLE           Sierra Leone  ...                13            0
22263            MWI                 Malawi  ...                16            2
22266            SSD            South Sudan  ...                 4            0
22267            ESH         Western Sahara  ...                 6            0
22268            STP  Sao Tome and Principe  ...                 4            0
22269            YEM                  Yemen  ...                 1            0

[1105 rows x 21 columns]

In [42]:
# Exibe o cabeçalho do dataframe
df2.head()

  Código do País  País/Região  ... Casos Confirmados  Fatalidades
0            AFG  Afghanistan  ...                 0            0
1            ALB      Albania  ...                 0            0
2            DZA      Algeria  ...                 0            0
3            AND      Andorra  ...                 0            0
4            AGO       Angola  ...                 0            0

[5 rows x 21 columns]

In [43]:
sigla = 'AGO'

df2[df2['Código do País'] == sigla]

      Código do País País/Região  ... Casos Confirmados  Fatalidades
4                AGO      Angola  ...                 0            0
266              AGO      Angola  ...                 0            0
528              AGO      Angola  ...                 0            0
790              AGO      Angola  ...                 0            0
1052             AGO      Angola  ...                 0            0
1314             AGO      Angola  ...                 0            0
1576             AGO      Angola  ...                 0            0
1838             AGO      Angola  ...                 0            0
2100             AGO      Angola  ...                 0            0
...              ...         ...  ...               ...          ...
19916            AGO      Angola  ...                17            2
20178            AGO      Angola  ...                19            2
20440            AGO      Angola  ...                19            2
20702            AGO      Angola  ...                19            2
20964            AGO      Angola  ...                19            2
21226            AGO      Angola  ...                19            2
21488            AGO      Angola  ...                19            2
21750            AGO      Angola  ...                19            2
22012            AGO      Angola  ...                19            2

[85 rows x 21 columns]

In [44]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'AGO'
coluna = 'PIB 2019'
valor = 105902

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [45]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'PNG'
coluna = 'PIB 2019'
valor = 23498

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [46]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'PSE'
coluna = 'PIB 2019'
valor = 14616

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [47]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'MMR'
coluna = 'PIB 2019'
valor = 68668

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [48]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'BWA'
coluna = 'PIB 2019'
valor = 18615

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [49]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'BDI'
coluna = 'PIB 2019'
valor = 3037

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [50]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'SLE'
coluna = 'PIB 2019'
valor = 4085

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [51]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'MWI'
coluna = 'PIB 2019'
valor = 7065

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [52]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'SSD'
coluna = 'PIB 2019'
valor = 3438

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [53]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'STP'
coluna = 'PIB 2019'
valor = 422

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [54]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'YEM'
coluna = 'PIB 2019'
valor = 26914

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [55]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'XKX'
coluna = 'PIB 2019'
valor = 7939

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [56]:
# País desejado, coluna e novo valor para o lugar de NaN na coluna
sigla = 'ESH'
coluna = 'PIB 2019'
valor = 9065

# Atualiza o ID dessas linhas
df2.loc[((df2['Código do País'] == sigla) & (df2[coluna].isnull()), coluna)] = valor

In [57]:
# Exibe o dataframe
df2

      Código do País            País/Região  ... Casos Confirmados  Fatalidades
0                AFG            Afghanistan  ...                 0            0
1                ALB                Albania  ...                 0            0
2                DZA                Algeria  ...                 0            0
3                AND                Andorra  ...                 0            0
4                AGO                 Angola  ...                 0            0
5                ATG    Antigua and Barbuda  ...                 0            0
6                ARG              Argentina  ...                 0            0
7                ARM                Armenia  ...                 0            0
8                AUS              Australia  ...                 0            0
...              ...                    ...  ...               ...          ...
22261            SLE           Sierra Leone  ...                13            0
22262            NLD            Netherlands  ...                 3            0
22263            MWI                 Malawi  ...                16            2
22264            GBR         United Kingdom  ...                11            0
22265            FRA                 France  ...                 1            0
22266            SSD            South Sudan  ...                 4            0
22267            ESH         Western Sahara  ...                 6            0
22268            STP  Sao Tome and Principe  ...                 4            0
22269            YEM                  Yemen  ...                 1            0

[22100 rows x 21 columns]

## 3.4 - Atualiza a População, População Urbana, Área, Densidade, Taxa de Fertilidade, Média de Idade e Taxa de Fumantes -> NaN

Foram utilizadas as informações disponíveis nos seguintes sites:

- https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
- https://pt.countryeconomy.com/paises
- https://tobaccoatlas.org/
- https://www.worldometers.info/world-population/population-by-country/
- https://www.indexmundi.com/factbook/countries
- https://www.who.int/tobacco/global_report/en/
- https://www.cia.gov/library/publications/the-world-factbook/
- https://data.worldbank.org/indicator/SH.MED.BEDS.ZS
- https://www.nationmaster.com/country-info/stats/Health/Tobacco/Total-adult-smokers
- https://www.worldlifeexpectancy.com/cause-of-death/lung-disease/by-country/

O processo de atualização foi semelhante ao utilizado para atualizar os dados do PIB.

## 3.5 - Atualiza a Temperatura Média e a Umidade -> NaN

Foram utilizadas as informações disponíveis nos seguintes sites:

- https://weather-and-climate.com/
- https://stat.world/en
- http://data.un.org/Data.aspx?d=CLINO&f=ElementCode%3A11
- https://weather-and-climate.com/average-monthly-Humidity-perc,Port-Au-Prince,Haiti

O processo de atualização foi semelhante ao utilizado para atualizar os dados do PIB.

In [58]:
# Cria uma cópia do dataframe
df3 = df2.copy(deep=True)

In [61]:
# Verifica as linhas nulas de uma atributo
coluna = 'Temperatura Média (Janeiro - Março)'

df3[df3[coluna].isnull()]

      Código do País            País/Região  ... Casos Confirmados  Fatalidades
4                AGO                 Angola  ...                 0            0
5                ATG    Antigua and Barbuda  ...                 0            0
32               CPV             Cabo Verde  ...                 0            0
47               TDC                   Chad  ...                 0            0
84               COG       Congo (Kinshasa)  ...                 0            0
85               CRI             Costa Rica  ...                 0            0
96               DOM     Dominican Republic  ...                 0            0
99               SLV            El Salvador  ...                 0            0
101              ERI                Eritrea  ...                 0            0
...              ...                    ...  ...               ...          ...
22254            MMR                  Burma  ...                74            4
22259            BWA               Botswana  ...                13            1
22260            BDI                Burundi  ...                 5            1
22261            SLE           Sierra Leone  ...                13            0
22263            MWI                 Malawi  ...                16            2
22266            SSD            South Sudan  ...                 4            0
22267            ESH         Western Sahara  ...                 6            0
22268            STP  Sao Tome and Principe  ...                 4            0
22269            YEM                  Yemen  ...                 1            0

[3485 rows x 21 columns]

In [62]:
# Cria um dicionário com os dados da temperatura e da umidade
dados_temp = {'Angola': [24.56, 80],
              'Antigua and Barbuda': [25.89, 79],
              'Cabo Verde': [23, 70],
              'Chad': [26.03, 22],
              'Congo (Kinshasa)': [25.9, 83],
              'Costa Rica': [26.15, 80],
              'Dominican Republic': [24.43, 83],
              'El Salvador': [25.43, 62],
              'Eritrea': [26.25, 58.3],
              'Fiji': [27.08, 81],
              'Haiti': [25.27, 42],
              'Holy See': [6.07, 79],
              'Madagascar': [25.75, 80],
              'Nicaragua': [26.02, 75],
              'Niger': [24.38, 20],
              'Papua New Guinea': [25.37, 79],
              'San Marino': [7.31, 80],
              'Trinidad and Tobago': [26.41, 80],
              'Uganda': [25.14, 79],
              'Zimbabwe': [23.70, 79],
              'Dominica': [25.69, 75],
              'Mozambique': [26.06, 79],
              'Syria': [10.71, 70],
              'Timor-Leste': [26.90, 80],
              'Belize': [24.28, 74],
              'Laos': [22.60, 70],
              'Libya': [16.78, 65],
              'West Bank and Gaza': [12.45, 60],
              'Guinea-Bissau': [27.33, 72],
              'Mali': [25.49, 21],
              'Saint Kitts and Nevis': [25.40, 79],
              'Kosovo': [2.79, 82],
              'Burma': [22.49, 63],
              'Botswana': [27.11, 68],
              'Burundi': [21.07, 80],
              'Sierra Leone': [27.55, 95],
              'Malawi': [23.49, 81],
              'South Sudan': [26.45, 42],
              'Western Sahara': [19.52, 71],
              'Sao Tome and Principe': [27.57, 92],
              'Yemen': [23.39, 78]
}

In [63]:
# Colunas a serem atualizadas
colunas = ['Temperatura Média (Janeiro - Março)', 'Taxa de Umidade (Janeiro - Março)']

# Percorre o dicionário e atualiza o dataframe com seus valores
for item in dados_temp.keys():
    pais = item
    temperatura = dados_temp.get(item)[0]
    umidade = dados_temp.get(item)[1]
    #print(item, temperatura, umidade)
    
    # Atualiza essas linhas
    df3.loc[(df3['País/Região'] == pais), colunas] = [temperatura, umidade]

In [64]:
# Dados do Brasil
df3[df3['País/Região'] == 'Brazil']

      Código do País País/Região  ... Casos Confirmados  Fatalidades
28               BRA      Brazil  ...                 0            0
290              BRA      Brazil  ...                 0            0
552              BRA      Brazil  ...                 0            0
814              BRA      Brazil  ...                 0            0
1076             BRA      Brazil  ...                 0            0
1338             BRA      Brazil  ...                 0            0
1600             BRA      Brazil  ...                 0            0
1862             BRA      Brazil  ...                 0            0
2124             BRA      Brazil  ...                 0            0
...              ...         ...  ...               ...          ...
19940            BRA      Brazil  ...             14034          686
20202            BRA      Brazil  ...             16170          819
20464            BRA      Brazil  ...             18092          950
20726            BRA      Brazil  ...             19638         1057
20988            BRA      Brazil  ...             20727         1124
21250            BRA      Brazil  ...             22192         1223
21512            BRA      Brazil  ...             23430         1328
21774            BRA      Brazil  ...             25262         1532
22036            BRA      Brazil  ...             28320         1736

[85 rows x 21 columns]

## 3.6 - Atualizando a data do primeiro caso -> NaN

In [67]:
# Cria uma cópia do dataframe
df4 = df3.copy(deep=True)

In [68]:
# Exibe somente as linhas das colunas com valores nulos
valores_nan = df4.isna()
colunas_nan = valores_nan.any()

# Lista com o nome das colunas que tem valores nulos
colunas = df4.columns[colunas_nan].tolist()

# Exibe o dataframe
df4[['Código do País', 'País/Região'] + colunas]

      Código do País  ... Data do Primeiro Caso
0                AFG  ...             2/23/2020
1                ALB  ...              3/7/2020
2                DZA  ...             2/24/2020
3                AND  ...              3/1/2020
4                AGO  ...                   NaN
5                ATG  ...             3/12/2020
6                ARG  ...              3/2/2020
7                ARM  ...             2/29/2020
8                AUS  ...             1/24/2020
...              ...  ...                   ...
22261            SLE  ...                   NaN
22262            NLD  ...             2/26/2020
22263            MWI  ...                   NaN
22264            GBR  ...             1/30/2020
22265            FRA  ...             1/23/2020
22266            SSD  ...                   NaN
22267            ESH  ...                   NaN
22268            STP  ...                   NaN
22269            YEM  ...                   NaN

[22100 rows x 13 columns]

In [69]:
# Países com a data do primeiro caso NaN ->  Serão atualizados

coluna = 'Data do Primeiro Caso'

df4[df4[coluna].isnull()]['País/Região'].unique()

array(['Angola', 'Papua New Guinea', 'West Bank and Gaza', 'Kosovo',
       'Burma', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen'],
      dtype=object)

## 3.7 - Exporta a nova base de dados

Alguns valores ausentes foram preenchidos com 0 ou com a imputação da média da coluna. Em seguida, o DataFrame, foi utilizado para gerar o arquivo **covid19_beta.csv**.

In [780]:
# Exporta o DataFrame
df6.to_csv('data/artigo/covid19_beta.csv', index=False)